
<% layout("/layouts/boilplate") %>
<div class="row">
<div class="col-8 offset-2">
    <br>
    <br>
    <h1> Create a new listing</h1>
    <form action="/listings" method="POST"  class="needs-validation" novalidate enctype="multipart/form-data"> 
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add a catcy title" class="form-control" required>
            <div class=" valid-feedback">looks good</div>
            <div class=" invalid-feedback">please enter valid title</div>
        </div>
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control"required></textarea>
        <div class=" valid-feedback"> description looks good</div>
        <div class=" invalid-feedback">please enter valid description</div>
       </div>

       <div class="mb-3">
        <label for="image" class="form-label"> Upload Image</label>
        <input type="file"
         name="listing[image]"
        class="form-control">
       </div>

       <div class="row">
       <div class="mb-3 col-md-15">
        <label for="price" class="form-label">Price</label>
        <input type="text" name="listing[price]" placeholder="Enter price" class="form-control"required>
        <div class=" invalid-feedback"> price should be valid</div>
       </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"required>
            <div class=" invalid-feedback">location should be valid</div>
        </div>
    </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control"required>
            <div class=" invalid-feedback">country should be valid</div>
        </div>
        
        <button class="btn btn-dark mb-3 add-btn">Add</button>

    </form>
</div>
</div>




